#subTema {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title {
    font-family: Arial, sans-serif;
    color: white;
    margin-bottom: 10px;
}

#subTema input[type="text"],
#subTema input[type="number"],
#subTema textarea,
#subTema select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

#subTema textarea {
    height: 100px;
}

#subTema select {
    height: auto;
}

#subTema input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s;
}

#subTema input[type="submit"]:hover {
    background-color: #0056b3;
}

#error {
    color: red;
    text-align: center;
    font-family: Arial, sans-serif;
}
